{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Projectise</title>
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <nav class="navbar navbar-light" style="background-color:DodgerBlue;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/home/">Home</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/events/">Events<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscribe/">Subscribe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register/" tabindex="-1" aria-disabled="true">Register</a>
            </li>
          </ul>
        </div>
      </nav>
    </nav>
    <div class="container">
      <div class="form-row">
        <div class="form-group col-md-2">
        </div>
        <div class="form-group col-md-8">
          <img src="{% static 'logo.png' %}" width="800px" height="300px">
        </div>
        <div class="form-group col-md-2">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-row">
        <div class="form-group col-md-4">
          <img src="{% static 'workshop3.jpg' %}" class="img-fluid" alt="Responsive image" width="600px" height="350px">
        </div>
        <div class="form-group col-md-4">
          <img src="{% static 'workshop4.jpg' %}" class="img-fluid" alt="Responsive image" width="600px" height="350spx">
        </div>
        <div class="form-group col-md-4">
          <img src="{% static 'workshop5.jpg' %}" class="img-fluid" alt="Responsive image" width="600px" height="350px">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-row">
        <h1 style="color:DodgerBlue;font-size:100px"><i><b>Projectise</b></i></h1>
      </div><br>
      <div class="form-row">
        <h3><b>Hello!</b></h3>
      </div><br>
      <div class="form-row">
        <p style="font-size:20px">Projectise is our initiative to help inquisitive, thinking minds better their learning by giving them hands on training. Our vision is to develop creative confidence in students, bringing out the inner innovator in them!</p>
      </div><br>
      <div class="form-row">
        <h3><b>What our org does?</b></h3>
      </div><br>
      <div class="form-row">
        <p style="font-size:20px">Our organisation has people who can dedicate themselves to educating the people about the new trends in electronics industry these days and to keep them updated about the latest trends in technology</p>
      </div><br>
      <div class="form-row">
        <h3><b>Who can attend the workshops?</b></h3>
      </div><br>
      <div class="form-row">
        <p style="font-size:20px">The workshops are open to the peop[le of ALL AGES and from all backgrounds of work or any field of education<br><br>
          So drop by at one of our workshops for an experience filled with interactive and creative ways of  building projects and fun immersive interactions.<br><br>
          If interested in our organisation visit our page to know about our upcoming <a href="/events/"><b>events</b></a> <br><br>
          <a href="/subscribe/" style="font-size:20px"><b>SUBSCRIBE TO OUR WEBSITE FOR REGULAR UPDATES ON FUTURE EVENTS</b></a></p>
        </div>
      </div>
      <hr>
      <div  style="background-color:#F5F5F5">
        <div class="form-row">
          <div class="form-group col-md-4">
            <p style="font-size:17px">-Where we work-</p>
            <p style="font-size:17px">Bangalore, India</p>
            <p style="font-size:17px">Phonenumber: +91 9902311722</p>
            <p style="font-size:17px">Email:bhchinmayee1@gmail.com</p>
          </div>
          <div class="form-group col-md-4">
            <p style="font-size:17px ">-Contact with us-</p>
            <hr>
            <a href="/home/" class="fa fa-facebook"></a><br>
            <a href="https://www.linkedin.com/in/chinmayee-chimmi-772148168/" class="fa fa-linkedin"></a><br>
            <a href="https://twitter.com/" class="fa fa-twitter"></a>
          </div>
        </div>
      </div>
    </body>
  </html>